<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>UserGroup</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.application.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.application.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveMemberController</display-name>
    <servlet-name>RemoveMemberController</servlet-name>
    <servlet-class>com.application.RemoveMemberController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveMemberController</servlet-name>
    <url-pattern>/RemoveMemberController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserController</display-name>
    <servlet-name>AddUserController</servlet-name>
    <servlet-class>com.application.AddUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserController</servlet-name>
    <url-pattern>/AddUserController</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>GroupBrowseController</display-name>
    <servlet-name>GroupBrowseController</servlet-name>
    <servlet-class>com.application.GroupBrowseController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupBrowseController</servlet-name>
    <url-pattern>/GroupBrowseController</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>GroupRemoveController</display-name>
    <servlet-name>GroupRemoveController</servlet-name>
    <servlet-class>com.application.GroupRemoveController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupRemoveController</servlet-name>
    <url-pattern>/GroupRemoveController</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>GroupEditController</display-name>
    <servlet-name>GroupEditController</servlet-name>
    <servlet-class>com.application.GroupEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupEditController</servlet-name>
    <url-pattern>/GroupEditController</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>GroupCreateController</display-name>
    <servlet-name>GroupCreateController</servlet-name>
    <servlet-class>com.application.GroupCreateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupCreateController</servlet-name>
    <url-pattern>/GroupCreateController</url-pattern>
  </servlet-mapping>
</web-app>